<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmpucECYNz26U0HXk8SAbenVcK14DIaDM</string>
	<key>GCM_SENDER_ID</key>
	<string>969334887141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.eduaid</string>
	<key>PROJECT_ID</key>
	<string>edu-aid-w1s88m</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-aid-w1s88m.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969334887141:ios:ae318212771a43fd863a0c</string>
</dict>
</plist>